//Colors
$White: #FFFFFF;
$Yellow: #F5CB5C;
$RaisinBlack: #242423;
$Jet: #333533;
$GunMetal: #232528;


$logoBackGroundColor:$GunMetal;
$logoTextColor: $Yellow;

$NavBackGroundColor: $Jet;
$NavTextColor: $White;

@function scaleNav($value1) {
	@return 1.4 * $value1;
  }


body{
	font-family: Arial, Helvetica, sans-serif;
}

.Navbar{
	background-color: $NavBackGroundColor;
}

.Navbar div{
	display: inline-block;
}

.logo{
	padding-top: 10px;
	padding-left: scaleNav(10px);
	padding-right: scaleNav(10px);
	background-color: $logoBackGroundColor;
	color: $logoTextColor;
	font-family: 'Times New Roman', Times, serif;
	animation-name: Logo;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(.25, 0, 0, 1);
	height: scaleNav(58px);
}

@keyframes Logo {
	0%, 7% {width: scaleNav(80px);}
	20%, 57% {width: scaleNav(152px);}
	77%, 100% {width: scaleNav(80px);}
}


.w{
	font-size: scaleNav(50px);
	position: relative;
	z-index: 3;
}

.ill{
	z-index: 1;
	font-size: scaleNav(25px);
	position: relative;
	animation-name: ill;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(.25, 0, 0, 1);
}

@keyframes ill {
	0%, 7% {right: scaleNav(31px); opacity: 0}
	20%, 53% {right: scaleNav(4px); opacity: 1}
	75%, 100% {right: scaleNav(31px); opacity: 0}
}

.p{
	font-size: scaleNav(50px);
	position: relative;
	z-index: 3;
	animation-name: p;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(.25, 0, 0, 1);
}

@keyframes p {
	0%, 7% {right: scaleNav(20px);}
	20%, 53% {right: scaleNav(-4px);}
	81%, 100% {right: scaleNav(20px);}
}

.owers{
	font-size: scaleNav(25px);
	position: relative;
	animation-name: owers;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(.25, 0, 0, 1);
}

@keyframes owers {
	0%, 7% {right: scaleNav(90px); opacity: 0}
	23%, 55% {right: scaleNav(4px); opacity: 1}
	77%, 100% {right: scaleNav(90px); opacity: 0}
}

.hidehoo{
	background-color: $logoBackGroundColor;
	height: scaleNav(58px);
	width: scaleNav(47px);
	position: absolute;
	z-index: 2;
}
.hidehoo2{
	background-color: $logoBackGroundColor;
	height: scaleNav(58px);
	width: scaleNav(85px);
	position: absolute;
	z-index: 1;
}


#Nav-Normal{
	position: absolute;
	right: 0;
	top: scaleNav(25px);
	font-size: 22px;
	font-weight: 100;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	min-width: 63%;

	@media screen and (max-width: 689px) {
		display: none;
	}
}

#Nav-Mobile{
	position: absolute;
	font-size: 22px;
	font-weight: 100;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;

	z-index: 6;
	
	width: 100%;
	height: 50%;
	margin-top: 10%;

}

.navItem{
	text-decoration: none;
	color: $NavTextColor;
}

#selected{
	color: $Yellow;
}


#footer{
	background-color: $Jet;
	padding: 10px;
	text-align: center;
}

#icons{
	display: flex;
	width: 40%;
	margin: auto;
}

.icon{
	margin: auto;
}

.icon img{
	height: 40px;
	opacity: .8;
}

#copyright{
	margin: 0;
	margin-top: 10px;
	font-size: 14px;
	color: darkgray;
}

#content{
	min-height: 90vh;
	background-color: $RaisinBlack;
	padding: 0;
	margin: 0;
	overflow: hidden;
	position: relative;
	text-align: center;

}

#menuButton{

	height: 40px;
	position: absolute;
	right: scaleNav(17px);
	top: scaleNav(17px);

	@media screen and (min-width: 690px) {
		display: none;
	}
}

#menuButton:hover{
	cursor: pointer;
}

.xButton{

	height: 40px;
	position: absolute;
	right: scaleNav(17px);
	top: scaleNav(17px);
	z-index: 6;
	display: none;

}

.xButton:hover{
	cursor: pointer;
}

#xButton-on{
	display: initial;
}

#menu-opening{
	animation-name: menu-opening;
	animation-duration: .5s;
	animation-timing-function: cubic-bezier(.25, 0, 0, 1);
}

#menu-closing{
	animation-name: menu-opening;
	animation-duration: .5s;
	animation-direction: reverse;
	animation-timing-function: cubic-bezier(.25, 0, 0, 1);
}

#menu-open{
	width: 100%;
}

@keyframes menu-opening {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

.menu{
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	width: 0%;
	z-index: 4;
	background-color: #232528
}


$outline: $Yellow;

#centeredContent{

	display: inline-flex;

}

.display{
	height: fit-content;
    width: 340px;
    background-color: $Jet;
	display: inline-block;
	margin-top: 5%;
	margin-bottom: 10%;
	margin-right: 100px;
	border-radius: 30px;
	padding: 20px;
	text-align: left;
	color: lightgray;
	line-height: 2;
	font-size: 14px;
	text-align: justify;

	@media screen and (max-width: 690px) {
		border-radius: 0;
		margin: 0;
		top: 0;
		left: 0;
		position: fixed;
		height: 100vh;
		width: 100vw;
		z-index: 6;
		display: block;
		padding: 0;
	}
	
	
	@media screen and (min-width: 690px) {
		width: 300px
	}
	@media screen and (min-width: 890px) {
		width: 500px
	}
	// @media screen and (min-width: 1090px) {
	// 	width: 700px
	// }
	// @media screen and (min-width: 1390px) {
	// 	width: 900px
	// }
	// @media screen and (min-width: 1391px) {
	// 	width: 1100px
	// }
	
	
	

	

}

.storyContent{

	margin: 20px;

	@media screen and (max-width: 690px) {
		width: 75%;
		margin: auto;
		margin-top: 100px;
	}

}
.storyContent::after{
	height: 2px;
	width: 50px;
	color: $Yellow;

}

.xButton-display{
	@media screen and (max-width: 690px) {
		display: block;
	}
}

.xButton-display:hover{
	cursor: pointer;
}

.storyTitle{
	color: $Yellow;
}

.timeline{
	position: relative;
	//right: 25%;
	display: inline-flex;
	flex-flow: column nowrap;
	margin-top: 50px;
	margin-bottom: 50px;
	justify-content: space-between;
	height: 100%;

  }

.timeline + *{
	clear: both;
}
  
.circle{
	border-radius: 50%;
	border: 5px solid $outline;
	height: 100px;

	@media screen and (max-height: 700px){
		height: 100px;
	}
	@media screen and (min-height: 700px){
		height: 110px;
	}
	@media screen and (min-height: 800px){
		height: 130px;
	}

	@media screen and (min-height: 900px){
		height: 150px;
	}

	@media screen and (min-height: 1100px){
		height: 155px;
	}

	@media screen and (min-height: 1200px){
		height: 165px;
	}

	@media screen and (min-height: 1300px){
		height: 175px;
	}
	
}

.circleLink{
	
	
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	z-index: 2;

	@media screen and (min-height: 1000px){
		margin-top: 20px;
		margin-bottom: 20px;
	}

	@media screen and (min-height: 1100px){
		margin-top: 30px;
		margin-bottom: 30px;
	}

	@media screen and (min-height: 1200px){
		margin-top: 40px;
		margin-bottom: 40px;
	}

	@media screen and (min-height: 1300px){
		margin-top: 50px;
		margin-bottom: 50px;
	}
}
  
.line{
	position: absolute;
	height: 87.5%;
	width: 10px;
	background-color: $outline;
	transform: scale(1.1,1.1);
	margin-top: 45px;

	@media screen and (max-height: 700px){
		left: 45%;
	}
	@media screen and (min-height: 700px){
		left: 45.5%;
	}
	@media screen and (min-height: 800px){
		left: 46%;
	}

	@media screen and (min-height: 900px){
		left: 46.5%;
	}

	@media screen and (min-height: 1000px){
		left: 47%;
	}

	@media screen and (max-height: 1100px){
		margin-top: 55px;
		height: 82.5%;
	}

	@media screen and (min-height: 1100px){
		margin-top: 70px;
		height: 81.5%;
	}

	@media screen and (min-height: 1200px){
		margin-top: 85px;
		height: 81.5%;
	}

	@media screen and (min-height: 1300px){
		margin-top: 100px;
		height: 80%;
	}
}


#attribution, #attribution a {

	margin: 0;
	margin-top: 10px;
	font-size: 14px;
	color: darkgray;
	text-decoration: none;

}

.storyLineHorizontal{
	background-color: $Yellow;
	opacity: .2;
	height: 2px;
	width: 52px;
	position: absolute;
	z-index: 2;
}

.storyLineVertical{
	background-color: $Yellow;
	opacity: .2;
	width: 2px;
	position: absolute;
	z-index: 2;
}


#sliderMenu{
	white-space: nowrap;
	background-color: $GunMetal;
	font-size: 18px;
	overflow: scroll;
	position: relative;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
	padding-left: 21px;
}
#sliderMenu::-webkit-scrollbar { height: 0 !important }


.sliderLink{
	display: inline-block;
	margin: 25px;
	color: lightgray;
}
#sliderSelected{
	color: $Yellow
}

.triangleSVG{
	fill: $Jet;
	background-color: $GunMetal;
	position: absolute;
	z-index: 2;
}

.triangleLeft{
	left:0;
}

.triangleRight{
	right:0;
}

.pageTitle{
	color: $Yellow;
	font-size: 50px;
	font-weight: 100;

	@media screen and (min-width: 690px) {
		display: none;
	}
}

.storyPageTitle{
    margin-bottom: -20px;
}

.projectBox{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	margin: 20px;
	margin-bottom: 40px;
}

.projectRow{
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	width: 100%;

	@media screen  and (max-width: 689px){
		flex-flow: column;
	}
}

.projectBox .projectRow:last-child p{
	color: gray;
}

.projectImg img{
	border-radius: 5px;
	@media screen and (min-width: 1113px){
		margin: 25px;
	}
	max-height: 324px;
	max-width: 100%;

	@media screen and (max-width: 1112px){
		margin: 0;
	}

}

.projectImg{
	@media screen  and (min-width: 1112px) and (max-width: 1199px){
		max-width: 80%;
	}
	@media screen and (max-width: 1112px){
		width: 45%;
		margin: 10px;
	}

	@media screen  and (max-width: 689px){
		width: 100%
	}
	
}

.projectText{
	box-sizing: border-box;
	width: 100%;
	max-width: 510px;
    color: lightgray;
    font-size: 17px;
    text-align: justify;
	line-height: 2;
	@media screen and (min-width: 1110px) {
		padding-left: 50px;
		padding-right: 50px;
		font-size: 18px;
		
	}

	@media screen and (max-width: 1112px){
		font-size: 18px;
		margin: 10px;
		width: 40%;
		line-height: 1.25;
	}

	@media screen and (max-width: 524px) {
		font-size: 17px; 
	}

	@media screen and (max-width: 409px) {
		line-height: 1.7;
	}

	@media screen and (max-width: 836px){
		font-size: 14px;
	}

	@media screen  and (max-width: 689px){
		width: 100%;
		font-size: 18px;
    	line-height: 1.5;
	}
}

.githubLink{
	text-decoration: none;
    color: $Yellow;
    position: relative;
    font-size: 48px;
	right: 25%;
	bottom: 38px;

	@media screen and (max-width: 1110px){
		right: 31px;
	}

	@media screen and (min-width: 1324px){
		right: 20%;
	}

	@media screen and (min-width: 1647px){
		right: 16%;
	}
}


.contactPage{


	@media screen and (min-width: 690px) {
		margin-bottom: 40px;
	}

	@media screen and (max-width: 689px) {
		padding-top: 0px;
		margin-top: -20px;
	}

	padding: 20px;

	.contactFirstRow{

		margin: auto;


		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		max-width: 1230px;

		@media screen and (max-width: 605px) {
			flex-direction: column;
		}
		@media screen and (max-width: 689px) {
			margin-top: 50px;
		}

		@media screen and (max-width:920px){
			max-width: 700px;
		}

		.personalSection{

			background-color: $Jet;
		
			display: flex;
			flex-flow: column;
			align-content: space-evenly;
			justify-content: center;
			padding: 20px;
			border-radius: 25px;

			padding-top: 40px;
			
			margin: 20px;
		
			.myImage img{
				border-radius: 50%;
				height: 175px;
				border: 5px solid $Yellow;
			}
		
			.locationInfo{
				display: flex;
				flex-flow: column;
				align-content: space-around;
				color: lightgray;
				font-size: 20px;
		
				p{
					display: block;
				}
		
				margin-top: 10px;

				b{
					color: $Yellow;
				}
			}

			@media screen and (max-width: 605px){
				width: 80%;
			}
		
		}


		.contactInfoSection{
			min-width: 240px;
			max-width: 480px;
			width: 75%;
			background-color: $Jet;
			padding: 20px;
			border-radius: 25px;
			p{
				display: block;
				color: lightgray;
				line-height: 1.5;
			}

			margin: 20px;

			@media screen and (max-width:920px){
				max-width: initial;
				width: 566px;
			}
			@media screen and (max-width: 689px){
				width: 100%;
				margin-left: 0;
				margin-right: 0;
				
			}
			@media screen and (max-width: 605px){
				width: 86%;
			}
			@media screen and (max-width: 505px){
				width: 75%;
			}

		}

		.cs1{
			@media screen and (max-width:920px){
				display: none !important;
			}
		}
		.cs2{
			@media screen and (min-width: 921px){
				display: none !important;
			}
		}

		.contactSection{
			background-color: $Jet;
				
			display: flex;
			flex-flow: column;
			align-content: center;
			justify-content: center;
			padding: 20px;
			border-radius: 25px;
			max-width: 460px;
			
			margin: 20px;

			@media screen and (min-width:"921px"){
				flex-flow: row;
				padding-left: 7px;
				padding-right: 7px;
			}

			@media screen and (max-width:"920px"){
				max-width: 240.078px;
				width: 240.078px;
				height: 391px;
			}

			@media screen and (max-width:689px){
				width: 165.078px
			}

			@media screen and (max-width: 605px){
				width: 88%;
				max-width: initial;
				flex-flow: row;
				height: initial;
				padding: 0;
				margin-left: 0;
				margin-right: 0;
			}
			@media screen and (max-width: 505px){
				flex-flow: column;
			}
			
			

			

			//margin-top: 10px;
	
			p{
				@media screen and (max-width: 605px){
					font-size: 20px;
				}
				@media screen and (max-width: 505px){
					font-size: 30px;
					padding: 0;
				}
			}
	
			img{
				height: 22px;
				@media screen and (max-width:689px){
					margin-left: -22px;
				}
				@media screen and (max-width: 605px){
					margin-left: 0px;
				}
			}

				
			.contactInfo{
		
				color: lightgray;
				font-size: 20px;

				@media screen and (min-width:"921px"){
					margin-left: 20px;
					margin-right: 20px;
				}

				@media screen and (max-width:"920px"){
					font-size: 29px;
					padding: 19px;
				}
				
				
			}
		}
	}

	.tempColumn{
		display: flex;
		flex-direction: column;
		max-width: 500px;
		@media screen and (max-width:"920px"){
			order: 3;
		}
		align-items: center;
	}

	.socialRow{
		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
		align-content: space-between;
		justify-content: center;

	}

	.socialMedia{

		background-color: $Jet;
		padding: 20px;
		border-radius: 25px;
		color: lightgray;
		font-size: 24px;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;

		text-decoration: none;

		margin: 20px;

		min-width: 240px;
		max-width: 337px;
		width: 75%;

		img{
			display: block;
			height: 77px;
			width: 77px;
		}

		@media screen and (max-width:"920px"){
			max-width: initial;
			width: 566px;
			font-size: 27px;
			
			img{
				height: 100px;
				width: 100px;
			}
			
			
		}
		@media screen and (max-width: 689px){
			width: 500px;
		}

	}
}

.collapsedcontent {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
  
}

.resumeContent{
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: left;
}

.pdf{
	position: relative;
	top: -10px;
    color: lightgray;
    text-decoration: none;
    margin-left: 28.5px;
	font-weight: 900;
	border: 1px solid indianred;
    padding: 10px;
    border-radius: 5px;
}


.resumeRow{

	vertical-align: middle;
	position: relative;
	

	.resumeArrow{
		height: 9px;
		padding-right: 3px;
		padding-left: 3px;
		display: inline-block;
		position: absolute;
	}

	.resumeDot{
		height: 5px;
		padding-right: 5px;
		padding-left: 5px;
		display: inline-block;
		position: absolute;
	}
	

	.resumeText{
		position: relative;
		margin:0;
		padding-left: 19.5px;
	}
}

.rowNum0{
	line-height: 80px;
	font-size: 42px;
	color: $Yellow;
	padding-left: 29px;
	vertical-align: middle;

	.resumeArrow{
		top: 35.5px
	}

	.resumeDot{
		top: 33.5px;
	}
}
.rowNum1{
	font-size: 24px;
	color: $Yellow;
	background-color: $Jet;
	padding-left: 45px;
	line-height: 58px;
	

	.resumeArrow{
		top: 24.5px
	}

	.resumeDot{
		top: 22.5px;
	}

	
}
.rowNum2{
	font-size: 16px;
	color: white;
	padding-left: 61px;
	line-height: 36px;

	.resumeArrow{
		top: 12.5px;
	}

	.resumeDot{
		top: 14.5px
	}
}
.rowNum3{
	font-size: 16px;
	color: lightgrey;
	padding-left: 77px;
	line-height: 33px;

	.resumeArrow{
		top: 15.5px
	}

	.resumeDot{
		top: 13.5px
	}
}

.rowNum4{
	font-size: 16px;
	color: lightgrey;
	padding-left: 93px;
	line-height: 33px;

	.resumeArrow{
		top: 15.5px
	}

	.resumeDot{
		top: 13.5px
	}
}